<div class="col input-group">
    <span class="input-group-text filter text-info">Diet</span>
    {{ form.diet(class_='overflow-auto filter p-1 border-top border-bottom rounded-end') }}
</div>
<div class="col input-group">
    <span class="input-group-text filter text-info">Cuisine</span>
    {{ form.cuisineType(class_='overflow-auto filter p-1 border-top border-bottom rounded-end') }}
</div>
<div class="col input-group">
    <span class="input-group-text filter text-info">Health</span>
    {{ form.health(class_='overflow-auto filter p-1 border-top border-bottom rounded-end') }}
</div>
<div class="col input-group">
    <span class="input-group-text filter text-info">Meal</span>
    {{ form.mealType(class_='overflow-auto filter p-1 border-top border-bottom rounded-end') }}
</div>
<div class="col input-group">
    <span class="input-group-text filter text-info">Dish</span>
    {{ form.dishType(class_='overflow-auto filter p-1 border-top border-bottom rounded-end') }}
</div>

