<div class="d-flex bg-light rounded p-4">
                <img src=" {{ results.image }}"
                     alt="Pic of {{ results.label }}"
                     class="img-fluid rounded-start"
                     height="200"
                     width="200">
                <div class="d-flex flex-column justify-content-between">
                    <h3 class="m-1">{{ results.label }}</h3>
                    <span class="m-1">{{ results.source }} <a class="btn btn-primary badge"href="{{ results.url }}">Link</a></span>
                    <p class="m-1">
                        {% if results.ingredients|length != 0 %}
                            <small class="text-body-secondary">Ingredients: {{ results.ingredients|length }}</small>
                        {% endif %}
                        {% if results.yield_value != 0 %}
                            | <small class="text-body-secondary">Yield: {{ results.yield_value|round|int }} servings</small>
                        {% endif %}
                        {% if results.calories != 0 %}
                            | <small class="text-body-secondary">Calories: {{ ((results.calories)/results.yield_value)|round|int }}</small>
                        {% endif %}
                        {% if results.totalTime != 0 %}
                            | <small class="text-body-secondary"> &#x1F551 {{ (results.totalTime//60)|round|int }} hr {{ (results.totalTime%60)|round|int }} min</small>
                        {% endif %}
                    </p>
                    <div class="d-flex">
                        {% set details = results.dishType + results.mealType + results.cuisineType %}
                        {% for detail in details %}
                            <span class="badge text-light text-bg-secondary m-1">{{ detail.capitalize() }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {% for label in results.healthLabels %}
                            <span class="badge rounded-pill text-light text-bg-info m-1">{{ label }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
